.onlyButtonTwo{
    background-color: rgba(0,0,0,0)!important;
    border:0px !important;
    font-size: large !important;
  
}
.profileLink{
    text-decoration:none;
    color:white;
}
.profileLink:hover {
    background-color:black !important;
    color:white !important;
  }