body {
    padding: 0;
    margin: 0;
    color:white;
    font-size:xx-large
}
.Full_width {
    display: flex;
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0;  
}

.Full_width > * {
    flex: 1;
    /* border: 2px solid red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #000;
    text-align: center ;
    
}
.set {
   width: 100%;
}

img {
  width: 100%!important;
}
.secondSet {
  justify-content: space-around;
  padding:100px 0;
  display:flex;
  flex-direction: column;
  /* border: 5px solid red; */
}
.title {
 text-align:top;
 margin-top:50px;
 margin-bottom:100px;
}
.planetText{
text-align:center;
color:white;
margin-top:-50px;
}
.planetFacts{
  color:white;
  list-style-type: none;
  display: inline-block;
  text-align: start;
  margin-top:50px;
  font-size:larger;
}
.wrapper{
  margin-top:-100px;
  width:70%;
  padding: 40px;
  
  border-radius: 30px;
  }





/* .list{
  background-color:black !important;
  color:white;
}
.list-group-item{
  background-color:white;
  color:white;
} */




/* .Full_width .set, .Full_width .duble_Set {
    width: 50%;
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
} */






















/* body {
    margin: 0;
    display: flex;
  }

  section {
    width: 50%;
    height: 100vh;
   
    font-size: 26vmin;
    word-wrap: break-word;
    display: inline-block;
  }
img {
    object-fit: contain;
} */







/* body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    height: 100vh;
  }
.image { */
    /* Center and scale the image nicely 
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    flex: 1;
    height: 100%;
  }  
  .content {
    flex: 1;
    height: 100%;
    overflow: auto;
  } 
  
  
  section {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    font-size: 26vmin;
    word-wrap: break-word;
    display: inline-block;
  }
img {
    object-fit: contain;
}

  */